<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<select [(ngModel)]="modelFaceTwit.facebook.fbLinkSelected" (change)="onChange($event)">
  <option *ngFor="let options of fbwidgetLinks; let i=index;" [value]="options.link" [hidden]="!options.link">{{options.name}}</option>
</select>

<h1>
  Selected value is {{modelFaceTwit.facebook.fbLinkSelected}}
</h1>


<fb-page href={{modelFaceTwit.facebook.fbLinkSelected}} width="500px" height="500px" tabs="timeline" hideCover="false" showFacepile="false" smallHeader="false" adaptContainerWidth="true"></fb-page>



<!-- <div id="fbWidget">
  <div id="fb-root"></div>
  <div class="fb-page" [attr.data-href]="modelFaceTwit.facebook.fbLinkSelected" data-tabs="timeline" data-width="800" data-adapt-container-width="true"
    data-height="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <div class="fb-xfbml-parse-ignore">
    <blockquote [attr.cite]="modelFaceTwit.facebook.fbLinkSelected">
      <a [attr.href]="modelFaceTwit.facebook.fbLinkSelected">American Water</a>
    </blockquote>
    </div>
  </div>
</div> -->